doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    script(src='/resources/js/theme.js' defer = '')
    link(rel='stylesheet' href='/resources/css/main.css')
    link(rel='stylesheet' href='/resources/css/main.dark.css')
    title Page Not Found
  body(id='dark-mode')
    nav
      a.button(href='/home') Home
      a.button#themeToggle Change Theme
    .boxed
      h1 404 - Page Not Found
      p Sorry, looks like you're looking for or trying to post a take thats to hot to handle.
